cat > requirements.txt << 'EOF'
requests==2.31.0
beautifulsoup4==4.12.2
urllib3==2.0.7
paramiko==3.3.1
reportlab==4.0.7
pyyaml==6.0.1
colorama==0.4.6
tqdm==4.66.1
EOF


( if you want to scan any website so run is this in terminal and replace your website name)
python main.py --target https://httpbin.org/get --output report.pdf